<html>
	<head>
	<link rel=stylesheet type=text/css href="/static/home.css">
	<title> Home </title>
	
	</head>

	<body>
	
	<img src="http://www.dreamjordan.com/up/6353hlmjo.jpg" height="220px" width="220px"> 
	<nav> <div id= "blocks">
	<a class="a1" href="{{ url_for('Home')}}">|HOME|</a> 
	<a class="a2"href="{{ url_for('About_me')}}">|ABOUT ME|</a> 
	<a class="a3"href="{{ url_for('Contact_me')}}">|CONTACT ME|</a> 
	</nav> </div> <br>
	<h1 style= color:CC0066; > Home Page </h1>
	<p> Hi my name is Tala Manna'a, I am a 16 year old Palestinian.</p>
	<p> Welcome to my Website. </p>
	<p> If you want to know more about me then you are in the right place, this website talks about me and tells you ways you can contact me in! </p>
	
	

	
	</body>


</html>
